<app-navbar></app-navbar>
<div class="main">
  <div class="container">
    <div class="d-flex justify-content-center">
      <img class="pizzaLogo" src="assets/icons/pizzaPedacosIcon.png" />
    </div>

    <div class="d-flex flex-row justify-content-evenly">
      <div>
        <button class="imgButton">
          <img src="assets/buttons/pizzaInteira.png" />
        </button>
      </div>
      <div>
        <button class="imgButton">
          <img src="assets/buttons/doisSaboresIcon.png" />
        </button>
      </div>
      <div>
        <button class="imgButton">
          <img src="assets/buttons/bebidas.png" />
        </button>
      </div>
    </div>
  </div>
  <div class="container offers">
    <div class="box">
      <img class="logoAlert" src="assets/icons/alertaIcon.png" /> OFERTAS DO DIA <img class="logoAlert"
        src="assets/icons/alertaIcon.png" />
      <div class="fakeComponentBox">
        <p>aqui vai um componente de oferta</p>
      </div>
      <div class="fakeComponentBox">
        <p>aqui vai um componente de oferta</p>
      </div>
      <div class="fakeComponentBox">
        <p>aqui vai um componente de oferta</p>
      </div>
      <div class="fakeComponentBox">
        <p>aqui vai um componente de oferta</p>
      </div>
      <div class="fakeComponentBox">
        <p>aqui vai um componente de oferta</p>
      </div>
      <div class="fakeComponentBox">
        <p>aqui vai um componente de oferta</p>
      </div>
    </div>
  </div>

</div>




<app-footer></app-footer>

<button class="waiterButton">
  <img class="float rounded-circle" src="/assets/icons/barman.png" alt="Image of barman, use to call barman">
</button>
