<div class="trasp">
    <div class="box-item-preparing dialog-container ">
      <h2 mat-dialog-title class="header">{{data.item.name}}</h2>
      <mat-dialog-content>
        <div class="fakeComponentBox">
          <div class="d-flex justify-content-center">
            <div *ngIf="data.itemType =='PIZZA'">
              <img style="border-radius: 35px; width: 200px; height: auto;" class="image-drink mx-auto" src="assets/imgs/pizzaCalabresa.jfif">
            </div>
            <div *ngIf="data.itemType =='DRINK'">
              <img style="border-radius: 35px; width: 200px; height: auto;" class="image-drink mx-auto" src="assets/imgs/drink-coke.png">
            </div>
          </div>
          
          <div>
            <div class="d-flex justify-content-between" *ngIf="data.itemType == 'PIZZA'">
              <div>
                <label style="font-size: 20px;" for="size">Bordas</label>
                <div *ngFor="let addon of pizzaAddons">
                  <input type="radio" name="addon" value="{{addon}}" (click)="handleSelectAddon(addon)">
                  <label style="font-size: 15px;">{{addon.name}}</label>
                </div>
              </div>
              <div>
                <div>
                  <label style="font-size: 20px;" for="size">Tamanho</label>
                  <div *ngFor="let size of pizzaSizes">
                    <input type="radio" name="size" value="{{size}}" (click)="handleSelectSize(size)">
                    <label style="font-size: 15px;">{{size.size}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-dialog-content>
      <button mat-button  class="button-confirm" (click)="buildOrder()"[mat-dialog-close]="false">Sim</button>
      <button mat-button class="button-cancel" [mat-dialog-close]="false">Cancelar</button>
    </div>
  </div>
  