<div class="main">
    <div class="d-flex justify-content-center">
      <img class="pizzaLogo" src="assets/icons/pizzaPedacosIcon.png" />
    </div>

    <div class="d-flex justify-content-center">
        <div class="orders">
            <div>
                <img class="image-barman" src="assets/icons/barman.png">
            </div>
            <div *ngFor="let pizza of pizzaOrders">
                <div class="box-table" *ngIf="pizza.status == 'done'">

                    <div class="row">
                        <div class="col-sm align-self-center col-6" (click)="showPizzaDetailsDialog(pizza)">
                          <p>{{pizza}}</p>
                        </div>
                        <div class="col-sm align-self-center" (click)="showPizzaDetailsDialog(pizza)">
                          <p class="table-number">Mesa: {{pizza.tableNumber}}</p>
                        </div>
                        <div class="col-sm align-self-center" (click)="showPizzaDeliveryDialog(pizza)">
                          <img class=" image-deliver" src="assets/icons/DeliveredIcon.png" alt="">
                        </div>
                </div>
            </div>
            </div>

        </div>
    </div>
  
  </div>
  <app-footer></app-footer>
