<body>
    <svg viewBox="-50 -50 600 600">
      <path
        class="pizza slice1 part1"
        d="M0,250 L250,250 L75,72 Q10,125 0,250 Z"
      />
      <path
        class="pizza slice2 part2"
        d="M0,250 L250,250 L75,72 Q10,125 0,250 Z"
      />
      <path
        class="pizza slice3 part3"
        d="M0,250 L250,250 L75,72 Q10,125 0,250 Z"
      />
      <path
        class="pizza slice4 part4"
        d="M0,250 L250,250 L75,72 Q10,125 0,250 Z"
      />
      <path
        class="pizza slice5 part5"
        d="M0,250 L250,250 L75,72 Q10,125 0,250 Z"
      />
      <path
        class="pizza slice6 part6"
        d="M0,250 L250,250 L75,72 Q10,125 0,250 Z"
      />
      <path
        class="pizza slice7 part7"
        d="M0,250 L250,250 L75,72 Q10,125 0,250 Z"
      />
      <path
        class="pizza slice8 part8"
        d="M0,250 L250,250 L75,72 Q10,125 0,250 Z"
      />

      <path
        class="cheese cheese1 part1"
        d="M28,248 L249,249 L92,95 Q25,125 28,248 Z"
      />
      <path
        class="cheese cheese2 part2"
        d="M28,248 L249,249 L92,95 Q25,125 28,248 Z"
      />
      <path
        class="cheese cheese3 part3"
        d="M28,248 L249,249 L92,95 Q25,125 28,248 Z"
      />
      <path
        class="cheese cheese4 part4"
       d="M28,248 L249,249 L92,95 Q25,125 28,248 Z"
      />
      <path
        class="cheese cheese5 part5"
        d="M28,248 L249,249 L92,95 Q25,125 28,248 Z"
      />
      <path
        class="cheese cheese6 part6"
        d="M28,248 L249,249 L92,95 Q25,125 28,248 Z"
      />
      <path
        class="cheese cheese7 part7"
        d="M28,248 L249,249 L92,95 Q25,125 28,248 Z"
      />
      <path
        class="cheese cheese8 part8"
        d="M28,248 L249,249 L92,95 Q25,125 28,248 Z"
      />
      <!-- Slice 1-->
      <circle class="pepperoni part1" cx="60" cy="215" r="25" />
      <circle class="pepperoni part1" cx="110" cy="160" r="25" />
      <circle class="pepperoni part1" cx="165" cy="215" r="25" />

      <circle class="pepperoni part2" cx="140" cy="95" r="25" />
      <circle class="pepperoni part2" cx="215" cy="90" r="25" />
      <circle class="pepperoni part2" cx="215" cy="165" r="25" />

      <circle class="pepperoni part3" cx="285" cy="60" r="25" />
      <circle class="pepperoni part3" cx="345" cy="105" r="25" />
      <circle class="pepperoni part3" cx="285" cy="165" r="25" />

      <circle class="pepperoni part4" cx="400" cy="140" r="25" />
      <circle class="pepperoni part4" cx="425" cy="215" r="25" />
      <circle class="pepperoni part4" cx="335" cy="215" r="25" />

      <circle class="pepperoni part5" cx="410" cy="280" r="25" />
      <circle class="pepperoni part5" cx="410" cy="360" r="25" />
      <circle class="pepperoni part5" cx="335" cy="285" r="25" />

      <circle class="pepperoni part6" cx="330" cy="380" r="25" />
      <circle class="pepperoni part6" cx="290" cy="440" r="25" />
      <circle class="pepperoni part6" cx="280" cy="325" r="25" />

      <circle class="pepperoni part7" cx="220" cy="400" r="25" />
      <circle class="pepperoni part7" cx="150" cy="420" r="25" />
      <circle class="pepperoni part7" cx="220" cy="325" r="25" />

      <circle class="pepperoni part8" cx="70" cy="300" r="25" />
      <circle class="pepperoni part8" cx="120" cy="340" r="25" />
      <circle class="pepperoni part8" cx="165" cy="290" r="25" />
    </svg>
  </body>