.redTheme{
    background-color: #b30000;
    color: #4444;
    display: flex;
}


.iconSize{
    width: 25px;
    margin: 10px;
}

a {
    color: #FFF;
    text-decoration: none;
}

a:hover{
    color: #000;
}