<div class="main">
  <div class="d-flex justify-content-center">
    <img class="pizzaLogo" src="assets/icons/pizzaPedacosIcon.png" />
  </div>

  <div class="orders">
    <div class="d-flex flex-row justify-content-evenly">
      <div class="d-flex flex-column align-items-center">
        <img src="assets/icons/PedidosCozinhaIcon.png">
        Pedidos
        <div class="box requests">
          <div *ngFor="let pizza of pizzas">
            <div *ngIf="pizza.status == 'REQUESTED'">
              <div class="box-item-request text-center">
                <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      <p>{{pizza.flavors[0].name}}</p>
                    </div>
                    <div class="col-sm">
                    </div>
                    <div class="col-sm">
                      <button class="rounded-circle" (click)="upgradeStatusOrder(pizza.id, pizza.status, pizza.flavors[0].itemType)">
                      >
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngFor="let drink of drinks">
            <div *ngIf="drink.status == 'REQUESTED'">
              <div class="box-item-request text-center">
                <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      <p>{{drink.item.name}}</p>
                    </div>
                    <div class="col-sm">
                    </div>
                    <div class="col-sm">
                      <button class="rounded-circle" (click)="upgradeStatusOrder(drink.id, drink.status, drink.item.itemType)">
                      >
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center">
        <img src="assets/icons/cozinhandoMenuIcon.png">
        Preparando
        <div class="box preparing">
          <div *ngFor="let pizza of pizzas">
            <div *ngIf="pizza.status == 'PREPARING'">
              <div class="box-item-preparing">
                <div class="row">
                  <div (click)="openDialog(pizza)" class="col-sm col-10">
                    <h3>ITEM:{{pizza.flavors[0].name}}</h3><br>
                   <!-- <p> Observação: {{pizza.observation}}</p> -->
                  </div>
                  <div class="col-sm col-2">
                    <button class="rounded-circle" (click)="upgradeStatusOrder(pizza.id, pizza.status, pizza.flavors[0].itemType)">
                    >
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngFor="let drink of drinks">
            <div *ngIf="drink.status == 'PREPARING'">
              <div class="box-item-preparing">
                <div class="row">
                  <div class="col-sm col-10">
                    <h3>ITEM:{{drink.item.name}}</h3><br>
                   <!-- <p> Observação: {{pizza.observation}}</p> -->
                  </div>
                  <div class="col-sm col-2">
                    <button class="rounded-circle" (click)="upgradeStatusOrder(drink.id, drink.status, drink.item.itemType)">
                    >
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center">
        <img src="assets/icons/entregueIcon.png">
        Finalizado
        <div class="box finished">
          <div *ngFor="let pizza of pizzas">
            <div *ngIf="pizza.status == 'DONE'">
              <div class="box-item-finished">
                {{pizza.flavors[0].name}} <br>
                <p class="table-number">{{pizza.tableNumber}}</p>
              </div>
            </div>
          </div>
          <div *ngFor="let drink of drinks">
            <div *ngIf="drink.status == 'DONE'">
              <div class="box-item-finished">
                {{drink.item.name}} <br>
                <p class="table-number">{{drink.tableNumber}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>