<div class="main">
  <div class="d-flex justify-content-center">
    <img class="pizzaLogo" src="assets/icons/pizzaPedacosIcon.png" />
  </div>

  <div class="orders">
    <div class="d-flex flex-row justify-content-evenly">
      <div class="d-flex flex-column align-items-center">
        <img src="assets/icons/PedidosCozinhaIcon.png">
        Pedidos
        <div class="box requests">
          <div class="box-item-request">
            PIZZA Calabresa
          </div>
          <div class="box-item-request">
            Pizza Calabresa
          </div>
          <div class="box-item-request">
            PIZZA Peperoni
          </div>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center">
        <img src="assets/icons/cozinhandoMenuIcon.png">
        Preparando
        <div class="box preparing">
          <div class="box-item-preparing">
            ITEM: PIZZA Calabresa <br>
            Observação: Não sei o que escrever então vou escrever coisas aleatórias pois eu quero, sou livre e independente ninguem consegue me segurar, pois eu sou o monstro do lago nes(não sei escrever) mas é isso
          </div>
          <div class="box-item-preparing">
            ITEM: PIZZA Calabresa <br>
            Observação: Não sei o que escrever então vou escrever coisas aleatórias pois eu quero, sou livre e independente ninguem consegue me segurar, pois eu sou o monstro do lago nes(não sei escrever) mas é isso
          </div>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center">
        <img src="assets/icons/entregueIcon.png">
        Finalizado
        <div class="box finished">
          <div class="box-item-finished">
            PIZZA Peperoni <br>
            <p class="table-number">Mesa 10</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

