<div class="main">
  <div class="d-flex justify-content-center">
    <img class="pizzaLogo" src="assets/icons/pizzaPedacosIcon.png" />
  </div>

  <div class="orders">
    <div class="d-flex flex-row justify-content-evenly">
      <div class="d-flex flex-column align-items-center">
        <img src="assets/icons/PedidosCozinhaIcon.png">
        Pedidos
        <div class="box requests">
          <div *ngFor="let pizzaOrder of pizzaOrders">
            <div *ngIf="pizzaOrder.status == 'requested'">
              <div class="box-item-request">
                {{pizzaOrder.pizzas}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center">
        <img src="assets/icons/cozinhandoMenuIcon.png">
        Preparando
        <div class="box preparing">
          <div *ngFor="let pizzaOrder of pizzaOrders">
            <div *ngIf="pizzaOrder.status == 'cooking'">
              <div (click)="openDialog(pizzaOrder)" class="box-item-preparing">
                ITEM: {{pizzaOrder.pizzas}} <br>
                Observação: {{pizzaOrder.observation}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center">
        <img src="assets/icons/entregueIcon.png">
        Finalizado
        <div class="box finished">
          <div *ngFor="let pizzaOrder of pizzaOrders">
            <div *ngIf="pizzaOrder.status == 'done'">
              <div class="box-item-finished">
                {{pizzaOrder.pizzas}} <br>
                <p class="table-number">{{pizzaOrder.table}}</p>
              </div>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</div>

