<div class="container box">
    <div *ngIf="isOffer()">
        <img  class="logoAlert" src="assets/icons/alertaIcon.png" /> OFERTAS DO DIA <img class="logoAlert"
        src="assets/icons/alertaIcon.png" />
    </div>

    <div class="fakeComponentBox">
      <p>aqui vai um componente de oferta</p>
    </div>
    <div class="fakeComponentBox">
      <p>aqui vai um componente de oferta</p>
    </div>
    <div class="fakeComponentBox">
      <p>aqui vai um componente de oferta</p>
    </div>
    <div class="fakeComponentBox">
      <p>aqui vai um componente de oferta</p>
    </div>
    <div class="fakeComponentBox">
      <p>aqui vai um componente de oferta</p>
    </div>
    <div class="fakeComponentBox">
      <p>aqui vai um componente de oferta</p>
    </div>
  </div>
