<div class="container box">
    <div *ngIf="isOffer()">
        <img  class="logoAlert" src="assets/icons/alertaIcon.png" /> OFERTAS DO DIA <img class="logoAlert"
        src="assets/icons/alertaIcon.png" />
    </div>

    <div class="fakeComponentBox" *ngIf="isOffer()">
      <p></p>
    </div>
    
    <div *ngIf="isWhole() || isHalf()">
      <div class="fakeComponentBox" *ngFor="let pizza of pizzas" >
        <p>{{pizza.name}}</p>
      </div>
    </div>

    <div *ngIf="isDrinks()">
      <div class="fakeComponentBox" *ngFor="let drink of drinks" >
        <p>{{drink.name}}</p>
      </div>
    </div>

  </div>
