<div class="container box">
  <div *ngIf="isOffer()">
    <img class="logoAlert" src="assets/icons/alertaIcon.png" /> OFERTAS DO DIA <img class="logoAlert"
      src="assets/icons/alertaIcon.png" />
      <div class="fakeComponentBox" *ngFor="let offer of offers">
        <div class="d-flex">
          <div>
            <img class="image-pizza" src="assets/imgs/pizzaCalabresa.jfif">
          </div>
          <div class="item">
            <p class="item-name">{{offer.name}}</p>
            <p class="item-description">{{offer.description}}</p>
            <p class="item-price">R$ {{offer.basePrice.toFixed(2)}}</p>
          </div>
          <div class="d-flex ms-auto align-items-center" *ngIf="managerMode == false">
            <img class="image-cart" src="assets/icons/carrinhoIcon.png" (click)="openOrderDialog(offer, offer.itemType, '1')">
          </div>
          <div class="d-flex ms-auto align-items-center" *ngIf="managerMode == true">
            <img class="image-cart" src="assets/icons/bloquear.png" (click)="removeItem(offer)">
          </div>
        </div>
      </div>
  </div>

  <div *ngIf="isWhole() || isHalf()">
    <div *ngFor="let pizza of pizzas">
      <div class="fakeComponentBox" *ngIf="managerMode == false && pizza.imgUrl=='VISIBLE'">
        <div class="d-flex">
          <div>
            <img class="image-pizza" src="assets/imgs/pizzaCalabresa.jfif">
          </div>
          <div class="item">
            <p class="item-name">{{pizza.name}}</p>
            <p class="item-description">{{pizza.description}}</p>
          </div>
          <div class="d-flex ms-auto align-items-center" *ngIf="managerMode == false && pizza.imgUrl=='VISIBLE'">
            <img class="image-cart" src="assets/icons/carrinhoIcon.png"(click)="openOrderDialog(pizza, pizza.itemType, '1')">
          </div>
        </div>
      </div>
      
      <div class="fakeComponentBox" *ngIf="managerMode == true">
        <div class="d-flex">
          <div>
            <img class="image-pizza" src="assets/imgs/pizzaCalabresa.jfif">
          </div>
          <div class="item">
            <p class="item-name">{{pizza.name}}</p>
            <p class="item-description">{{pizza.description}}</p>
          </div>
          <div class="d-flex ms-auto align-items-center" *ngIf="pizza.imgUrl == 'VISIBLE'">
            <img class="image-cart" src="assets/icons/feito.png" (click)="removeItem(pizza)">
          </div>
          <div class="d-flex ms-auto align-items-center" *ngIf="pizza.imgUrl == 'INVISIBLE'">
            <img class="image-cart" src="assets/icons/bloquear.png" (click)="turnVisibleItem(pizza)">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isDrinks()">
    <div *ngFor="let drink of drinks">
      <div class="fakeComponentBox" *ngIf="managerMode == false && drink.imgUrl=='VISIBLE'">
        <div class="d-flex">
          <div>
            <img class="image-drink" src="assets/imgs/drink-coke.png">
          </div>
          <div class="item">
            <p class="item-name">{{drink.name}}</p>
            <p class="item-description">{{drink.description}}</p>
          </div>
          <div class="d-flex ms-auto align-items-center">
            <img class="image-cart" src="assets/icons/carrinhoIcon.png" (click)="openOrderDialog(drink, drink.itemType, '1')">
          </div>
        </div>
      </div>

      <div class="fakeComponentBox" *ngIf="managerMode == true">
        <div class="d-flex" >
          <div>
            <img class="image-drink" src="assets/imgs/drink-coke.png">
          </div>
          <div class="item">
            <p class="item-name">{{drink.name}}</p>
            <p class="item-description">{{drink.description}}</p>
          </div>
          <div class="d-flex ms-auto align-items-center" *ngIf="drink.imgUrl == 'VISIBLE'">
            <img class="image-cart" src="assets/icons/feito.png" (click)="removeItem(drink)">
          </div>
          <div class="d-flex ms-auto align-items-center" *ngIf="drink.imgUrl == 'INVISIBLE'">
            <img class="image-cart" src="assets/icons/bloquear.png" (click)="turnVisibleItem(drink)">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>