.redTheme{
    background-color: #b30000;
    color: #4444;
    width: 100%;
}

nav{
    position: fixed;
}

.left{
    left: 0;
    position: absolute;
    margin-left: 20px ;
}

.right{
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.center{
    justify-content: center;
}

.iconSize{
    width: 25px;
    margin: 10px;
}

a {
    color: #FFF;
    text-decoration: none;
}

a:hover{
    color: #000;
}

