.redTheme{
    background-color: #873E3E;
    color: #4444;
    width: 100%;

}

nav{
    position: fixed;
    top: 0;
    border-color: #462e29;
    border-style: solid;
    border-width: 3px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 1
}

.left{
    left: 0;
    position: absolute;
    margin-left: 20px ;
}

.right{
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.center{
    justify-content: center;
}

.iconSize{
    width: 35px;
    margin: 10px;
}

a {
    color: #000;
    text-decoration: none;
    font-family: 'Café Françoise', sans-serif;
    font-size: 25px;
}

a:hover{
    color: #FFF;
}