<footer class="ftco-footer ftco-section img">
    <div class="overlay"></div>
  <div class="container footerDiv">
    <div class="row mb-5">

      <div class="col-lg-3 col-md-6 mb-5 mb-md-5"></div>

      <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
        <div class="ftco-footer-widget mb-4 text-center">
          <h2 class="ftco-heading-2">Desenvolvedores</h2>
          <p>Lucas Gabriel Teixeira da Silva</p>
          <p>Renan Alves de Oliveira</p>
          <p>Lygia Ferronato Bueno</p>
          <p></p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
        <div class="ftco-footer-widget mb-4 text-center">
          <h2 class="ftco-heading-2">Github</h2>
          <p><a href="https://github.com/LucasGTeixeira">Github.com/LucasGTeixeira</a></p>
          <p><a href="https://github.com/renan-oliveira1">Github.com/renan-oliveira1</a></p>
          <p><a href="https://github.com/lybueno">Github.com/lybueno</a></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
  </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>Copyright © 2023 All rights reserved to Kitchen Kontrol</p>
      </div>
    </div>
  </div>
</footer>