.pizzaLogo{
    padding-top: 100px;
    padding-bottom: 100px;
   width: 300px;
   position:static;
}

.main{
    background-image: url("/assets/imgs/background4.png");
}

.pizzaIcon{
    width: 75px;
    position: relative;
}

.category{
    background-color: #b30000;
    border-color: #b30000;
    border-radius: 50px;
}

.categoryText p{
    white-space: nowrap;
    background-color: #b30000;
    border-color: #b30000;
    border-radius: 50px;
}

.imageIcon{
    width: 1000px;
}

.imgButton{
  border: none;
  background: transparent;
  position: relative;
}
.imgButton img{
  height: 280px;
  position: relative;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	border-radius:50px;
	box-shadow: 2px 2px 3px;
}


