<app-navbar></app-navbar>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<h2>Menu Page</h2><br>
<app-footer></app-footer>