<app-navbar></app-navbar>
<div class="main">
    <div class="billBox">
        <div class="row" *ngFor="let orderPizza of orderPizzas">
            <div class="col-sm checkbox-container"></div>
            <div class="col-sm checkbox-container" *ngIf="orderPizza.flavors.length <= 1; else doisSabores">
                <input name="checkbox" type="checkbox" (change)="handlePizzaCheckboxChange($event, orderPizza)" style="margin-right: 10px;" />
                <p style="text-align: left;">{{orderPizza.flavors[0].name}}</p>
            </div>
            <ng-template  #doisSabores>
                <div class="col-sm checkbox-container">
                    <input name="checkbox" type="checkbox" (change)="handlePizzaCheckboxChange($event, orderPizza)" style="margin-right: 10px;" />
                    <p style="text-align: left;">1/2 {{orderPizza.flavors[0].name}} + 1/2 {{orderPizza.flavors[1].name}}</p>
                  </div>
            </ng-template>
            <div class="col-sm">
                <p>R${{orderPizza.price}}</p>
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row" *ngFor="let orderDrink of orderDrinks">
            <div class="col-sm"></div>
            <div class="col-sm checkbox-container">
                <input name="checkbox" type="checkbox" (change)="handleDrinkCheckboxChange($event, orderDrink)" style="margin-right: 10px;" />
                <p style="text-align: left;">{{orderDrink.item.name}}</p>
            </div>
            <div class="col-sm">
                <p>R${{orderDrink.price}}</p>
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm total">
                <p>TOTAL:R${{(orderTotal).toFixed(2)}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <img class="col-sm imagebotton" src="/assets/imgs/bottomBillCard.png">
            <div class="col-sm" >
                <img class="pay"(click)="openPayDialog()"src="/assets/buttons/payButton.png">
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>