.main{
    padding-top: 100px;
    background-image: url("/assets/imgs/background4.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
}

.billBox{
    padding-top: 25px;
    background-color: #f5f2f2;
    border: 20px solid #b3b3b3;
    box-shadow: 50px;
    padding-bottom: 50px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
    position: relative;
}

.billBox p{
    text-align: center;
    font-family: 'Café Françoise', sans-serif;
    color: #000;
    font-size: 35px;
    line-height: 50px;
    text-decoration: underline;
}

.imagebotton{
    width: 800px;
    height: 120px;
    margin: 50px auto;
}

.total{
    margin-top: 30px;
}

.pay{
    position: absolute;
    margin-left: 100px;
    width: 250px;
    height: auto;
}